# RaspiBlitz: systemd unit for bitcoind

[Unit]
Description=Bitcoin daemon
Wants=bootstrap.service
After=bootstrap.service

# for use with sendmail alert (coming soon)
#OnFailure=systemd-sendmail@%n

[Service]
User=bitcoin
Group=bitcoin
ExecStartPre=-/home/admin/config.scripts/blitz.systemd.sh log blockchain STARTED
ExecStart=/usr/local/bin/bitcoind -daemon -conf=/home/bitcoin/.bitcoin/bitcoin.conf -pid=/run/bitcoind/bitcoind.pid
RuntimeDirectory=bitcoind
RuntimeDirectoryMode=0710
PIDFile=/run/bitcoind/bitcoind.pid
Type=forking
KillMode=process
Restart=always
TimeoutSec=120
RestartSec=30
StandardOutput=null
StandardError=journal

# Hardening
PrivateTmp=true
ProtectSystem=full
ProtectHome=false # TODO: can we move the bitcoind stuff from /home/ elsewhere?
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
