# Boostrap the RaspiBlitz
# /etc/systemd/system/bootstrap.service

[Unit]
Description=execute on every startup before everything else is starting
After=network.target

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/home/admin/_bootstrap.sh
KillMode=process
StandardOutput=journal
Restart=no

[Install]
WantedBy=multi-user.target