# Boostrap the RaspiBlitz
# /etc/systemd/system/bootstrap.service

[Unit]
Description=execute on every startup before everything else
After=network.target mnt-hdd.mount

[Service]
User=root
Group=root
Type=oneshot
RemainAfterExit=true
ExecStart=/home/admin/_bootstrap.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target