<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>RaspiBlitz Status</title>
    <link rel="stylesheet" href="status.css">
</head>
<body>

<div class="grid-container" id="regular">
    <div class="header">
        <p>Info Dashboard (Updated: {{ datetime }})</p>
    </div>

    <div class="logo">
        <img src="RaspiBlitz_Logo_Icon_Negative_Cut.png" height="310" width="196" />
    </div>

    <div class="main">
        <p>RaspiBlitz v{{ codeVersion }} {{ hostname }}</p>
        <p>{{ network }} Fullnode + Lightning Network {{ torInfo }}</p>
        <p>&nbsp;<p>
        <p>CPU load {{ load }}, temp  {{ tempC }}°C {{ tempF }}°F</p>
        <p>Free Mem {{ ram }} HDDuse {{ hddUsedInfo }}</p>
        <p>{{ uptime }}</p>
        <p>ssh admin@{{ local_ip }} ▼{{ network_rx }} ▲{{ network_tx }}</p>
        {% if runningRTL == '1' %}
            <p>web admin --> <a href="http://{{ local_ip }}:3000">http://{{ local_ip }}:3000</a></p>
        {% endif %}
        <p>&nbsp;<p>
        <p>{{ network }} {{ networkVersion }} {{ chain }}net Sync foo OK {{ sync_percentage }}</p>
        <p>{{ public_addr_pre }} {{ public_addr }} {{ networkConnections }} peers</p>
        <p>&nbsp;<p>
        <p>LND {{ ln_version }} {{ ln_baseInfo }} <p>
        {% if ln_version|length %}
            <p>{{ ln_channelInfo }} {{ ln_peers }} peers <p>
        {% endif %}
    </div>

    <div class="footer">
        {% if ln_version|length %}
            <p>{{ ln_external }}</p>
        {% endif %}
    </div>
</div>

</body>
</html>
