#regular {
    /* The size of the LCD on shopping list */
    width: 920px;
    height: 440px;
}

.header {
    grid-area: header;
    text-align: center;
}

.logo {
    grid-area: logo;
    text-align: center;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header' 'logo main main main' 'footer footer footer footer';
    grid-gap: 1px;
    background-color: #02192b;
    padding: 1px;
}

.grid-container > div {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4px 8px;
    font-size: 30px;
}

body {
    background-color: black;
    font-family: monospace, monospace;
    color: LightSteelBlue;
}

p {
    font-size: 12px;
    margin: 4px;
}
